body { 
	margin: 0px;
	background-color: #234;
	color: #def;
	font-family: sans-serif;
	text-align: center; 
}

header, footer, main {
	width: 1200px; 
	margin: 0px auto;
}

header {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	font-style: italic;
	font-size: 2em;
}

footer {
	margin: 1em auto;
} 

.player {
	width: 300px;
	float: left;
	height: 500px;
	margin-top: 50px;
	color: #333;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	font-size: 16pt;
	text-align: left;
	background-color: #eee;	
}

.player h3 {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	font-style: italic;
	color: #fff;
	padding: 1em 1em;
	background-color: #000;
	margin-top: 0px;
	text-align: center;
}

.player h4 {
	margin: 1em;
	color: #333;
	border-bottom: 2px #def groove;
	font-weight: normal;
  padding-bottom: 0.5em;
} 

.player.current {
}

#black {
	border-radius: 10px 0px 0px 10px;
}

#black h3 {
	border-radius: 10px 0px 0px 0px;
}

#white {
	border-radius: 0px 10px 10px 0px;
}

#white h3 {
	border-radius: 0px 10px 0px 0px;
}

form {
	text-align: left;
	margin: 1em;
	text-shadow: none;
	font-size: 12pt;
	text-shadow: 1px 1px 0px #fff;
}

#go-board {
  background-color: #f0d080;
	margin: 0px;
	border-radius: 5px;
	float: left;
}

.clear-both {
	clear: both;
}

input[type="radio"] {
	float: left;
	clear: both;
	margin-right: 0.5em;
}

label {
	display: block;
}

#board-controls {
	margin-top: 1em;
}

a {
	color: #00c;
}

#messages {
	font-size: 24pt;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
	font-style: italic;
	font-weight: bold;
	margin-top: 0.5em;
}

.hidden {
	display: none;
}

button {
  border: 2px outset #567;
  background-color: #89a;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to bottom, #345, #012);
  padding: 0.5em 1em;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  cursor: pointer;
  font-weight: bold;
}

button[disabled] {
  background-color: #567;
  background-image: linear-gradient(to bottom, #567, #234);
  border-color: #234;
  cursor: not-allowed;
  color: #678;
}

button:focus {
  border-color: #f90;
  box-shadow: 0px 0px 3px #f90;
  text-shadow: none;
  color: #f90;
}

button:active {
  background-color: #fff;
  border-color: #fff;
}

button::-moz-focus-inner {
  border: 0;
}

